.app{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background-image: url(https://wallpaperaccess.com/full/2629319.png);
	background-size: cover;
}

.weather{
	display: flex;
	flex-direction: column;
	background: white;
	border-radius: 32px;
	box-shadow: 0 0 16px rgb(0, 0, 0, 0.5);
}

.bottom{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding: 36px 0;
}

.divider{
	width: 2px;
	background-color: rgba(0, 0, 0, 0.1);
}